{% extends 'base.html' %}

{% block title %}

{% endblock %}


{% block content %}

<div class="row justify-content-sm-center">
    <div class="col-sm-4">
        <div class="text-center mt-3 mb-5">
            <img src="https://placehold.it/200x200">
            <h1>Cleaning Company</h1>
        </div>
        <ul class="nav nav-pills nav-justified mb-2" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab"
                   aria-controls="pills-login" aria-selected="true">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab"
                   aria-controls="pills-register" aria-selected="false">Register</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                 aria-labelledby="pills-login-tab">
                <form>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="remember_me" type="checkbox" class="form-check-input">
                            Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button id="facebookBtn" type="button" class="btn btn-success">Facebook Login</button>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
                <form>
                    <div class="form-group">
                        <label for="registerFullname">Fullname</label>
                        <input type="text" class="form-control" id="registerFullname" name="fullname">
                    </div>
                    <div class="form-group">
                        <label for="registerPhoneNumber">Phone Number</label>
                        <input type="tel" class="form-control" id="registerPhoneNumber" name="phone_number">
                    </div>
                    <div class="form-group">
                        <label for="registerEmail">Email address</label>
                        <input type="email" class="form-control" id="registerEmail" name="email">
                    </div>
                    <div class="form-group">
                        <label for="registerPassword">Password</label>
                        <input type="password" class="form-control" id="registerPassword" name="password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="password_confirmation">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}